* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'outfit', 'sans-serif';
}

:root {
    /* Style de couleurs */
    --bg-color: #01233a;
    --second-bg-color: #0e1731;
    --text-color: #fff;
    --main-color: #ff8800;
    --kevmax_color: #24212935;
    --dark-blue: #081e38;
    --second-color: #004872;
}

html {
    font-size: 62.3%;
    overflow-x: hidden;
}

body {
    /* paramètres généraux de la page */
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    /* Paramètres par défaut de mes sections */
    min-width: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);

}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-img img {
    width: 55vh;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;

}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1;
}

.home-content p {
    font-size: 2rem;
}

span {
    color: var(--main-color);

}


.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    letter-spacing: .1rem;
    font-weight: 300;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.moi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-image img {
    width: 40vh;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.moi-content h2 {
    text-align: left;
    line-height: 1.5;
}

.moi-content h3 {
    font-size: 3rem;
}

.moi-content p {
    font-size: 2.2rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .service-box {
    flex: 1 1 30rem;
    background: var(--dark-blue);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: .5s ease;
    border: .2rem solid var(--dark-blue);
}

.services-container .service-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.service-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.service-box h3 {
    font-size: 2.6rem;
}

.service-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
    animation: infinite;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;

}

.first_portfolio_container_content {
    display: flex;
    gap: 2rem;
    transform: translateX(0);
    animation: flip infinite 30s normal;

    /* min-width: 250%; */

}

.last_portfolio_container_content {
    display: flex;
    /* position: absolute; */
    transform: translateX(600px);
    gap: 2rem;
    animation: flip infinite  30s normal;


}

.image-portfolio {
    width: 380px;
    height: 380px;
    overflow: hidden;
    /* border: .1rem solid var(--bg-color); */
    border-radius: 1.4rem;
    /* position: relative; */
    transition: .5s ease;
}

.image-portfolio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio-container .image-portfolio {
    /* flex: 1 1 30rem; */
    background: var(--dark-blue);
    /* padding: 3rem 2rem 4rem; */
    text-align: center;
}

.portfolio-container .image-portfolio:hover {
    box-shadow: 0 0 1rem var(--dark-blue);
    transform: scale(1.02);
}

.Contact h2 {
    padding: 5rem;
}

.contactezmoi {
    display: flex;
}


form {
    background-color: var(--second-color);
    display: grid;
    color: var(--text-color);
    width: 700px;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
}

form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 80px;
    /* margin-top: 40px; */
}

/* form div > label {
    margin-bottom: 5px;
    font-weight: 300;
    font-size: 12px;
} */

form div > input, form div > selector, form div > textarea {
    background: rgba(255, 255, 255, 0.534);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 200;
    width: 100%;
}

form div > input, form div > select {
    height: 52px;
    padding: 0 10px;
}

form div > select {
    border-radius: 5px;
    cursor: pointer;
}

form div > textarea {
    height: 195px;
    padding: 15px 0px 0px 10px;
}

form div > input::placeholder, form div > textarea::placeholder {
    color: white;
}

form div > select:invalid {
    color: var(--second-color);
}

form div > select:invalid:hover {
    color: var(--text-color);
    background-color: #01233a;
}

form div > select option {
    color: var(--dark-blue);
}

form div > select option {
    background: var(--text-color);
    font-size: 16px;
    margin: 10px;
}

.DG {
    color: var(--main-color);
}

form div:last-child {
    align-items: center;
    justify-content: end;
    /* margin-top: 20px; */
}

form button {
    display: inline;
    white-space: nowrap;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 300;
    transition: .5s;
}